@import "mixins";
*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  padding-top: 1px;
  margin-top: -1px;
  font-family: 'Anonymous Pro', monospace;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:55%;
  height: 100%;
  .main-header{
    display: flex;
    justify-content: space-between;
    margin-top: 3.4%;
    @include margin();
    .main-header-logo img{
      width: 169.63px;
    }
    .main-header-link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      margin-left: 20%;
    }
    .main-header-item{
      list-style-type:none;
      margin-right: 16px;
      width: 44px;
      height: 44px;

    }
    .main-header-item:last-child{
      margin-right: 0;
    }
    .main-social-link{
      display: flex;
      justify-content: center;
      flex-grow: 1;

    }
    .main-link{
       flex-grow: 1;
      text-align: end;
    }
    .main-link a{
      font-size: 16px;
      line-height: 54px;
      text-decoration-line: underline;
      color: #649595;
    }
  }
}
section{
  display: flex;
  @include margin;
  margin-top: 23.8%;
  margin-bottom:36.7%;
  flex-direction: column;
  justify-content: start;
  h1{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 121%;
    margin-right: 9.2%;
    margin-bottom: 5%;
    color: #F9E7EF;
  }
  a{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 25px;
    background: #F87E7E;
    border-radius: 8.84848px;
    display: flex;
    align-items: center;
    width: 520px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #151E29;
    text-decoration: none;
  }
  span{
    margin-right: 29px;
  }
  img{
    width: 71px;
    height: 34px;
  }
}
.main-footer{
  position: fixed;
  bottom: 0;
  background: #7E6EE6;
  height: 70px;
  width: 55%;
  display: flex;
  align-items: center;
  .main-footer-list{
    width: 100%;
    display: flex;
    list-style-type:none;
    @include margin;
    .main-footer-item{
      margin-right: 4.7%;
    }
    a{
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      opacity: 0.6;
      text-decoration: none;

    }
  }
}

.movie{
  width: 45%;
  height: 100%;
  background: #7E6EE6;
  opacity: 0.5;
}